body {
  background-color: #0a1021;
  color: #f7f7f7;
}

.leaflet-popup-content-wrapper {
  background: #1d1d1d;
  color: #fff;
  border: 1px solid rgba(242, 192, 55, 0.45);
}

.leaflet-popup-tip {
  background: #1d1d1d;
}
